/* 

colors:

    blackish: #282828
    greyish:  #424242
    white:    #FFFFFF
    orange:   #FF6D37

*/

@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:100');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #282828 !important;
}

.container {
    background-color: #424242;
    width: 500px;
    margin-top: 50px;
    border-radius: 15px;
    
}

.jumbotron {
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;
}

.statusContainer {
    width: 650px;
    height: 525px;
    background-color: orange;
    margin: auto;
    border-radius: 10px;
}
.user {
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 10px;
  vertical-align: top;
  overflow: hidden;
}

/* .user p {
    display: inline;
    vertical-align: top;
} */
.name {
    width: 250px;
    float: left;
    font-family: 'Lato', sans-serif;
}
.status {
  
}

.user-logo img{
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    position: relative; 
    left: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.online {
  background-color: #0DC50D !important;
}

.online:hover {
    border-left: 10px solid #FF6D37;
}