* {
    margin: 0;
    padding: 0;
}
body {
    background-color: purple !important;
}

.container {
    background-color: blue;
    width: 500px;
    margin-top: 50px;
    border-radius: 15px;
    
}

.statusContainer {
    width: 650px;
    height: 525px;
    background-color: orange;
    margin: auto;
    border-radius: 10px;
}
.user {
  background-color: grey;
  border-radius: 5px;
  
  vertical-align: top;
  
}

/* .user p {
    display: inline;
    vertical-align: top;
} */
.name {
    
}
.status {
  
}

.user-logo img{
    border-radius: 50%;
    border: white 5px;
    width: 100px;
    float: right;
}

.online {
  background-color: #0DC50D !important;
}

.online:hover {
    box-shadow: 5px 10px;
}